@font-face {
  font-family: "Geometry";
  src: url(../fonts/Geometria-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Geometry";
  src: url(../fonts/Geometria-Bold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Geometry";
  src: url(../fonts/Geometria-ExtraBold.ttf);
  font-weight: 500;
}

