@import '../../utils/variadbles';
@import '../../utils/mixins';


.payment {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 10px;

  @include onDesktop {
    flex-direction: row;
  }

  border: 2px solid $typeOfHelp;
  border-radius: 10px;

  color: $lightGrey;
  font-size: 13px;

  &__types {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    color: white;

    @include onDesktop{
      justify-content: start;
    }
  }

  &__type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100px;
    height: 60px;

    background: $paymentType;
    border: 1px solid transparent;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.3s;

    @include onDesktop {
      width: 140px;
      height: 60px;
    }

    &--active {
      background-color: $typeOfHelpFocus;
    }

    &--title {
      font-size: 15px;
      font-style: italic;

      @include onDesktop {
        font-size: 20px;
      }
    }

    &--description {
      font-size: 5px;
      font-weight: 300;

      @include onDesktop{
        font-size: 10px;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include onDesktop {
      justify-content: start;
      align-items: flex-start;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;

  @include onDesktop {
    width: 300px;
    height: 120px;
  }

  padding: 20px;
  background: $paymentType;
  border-radius: 10px;

  color: white;

  &--active {
    background: $typeOfHelpFocus;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__number {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__input {
    width: 40px;
    height: 20px;

    border: 1px solid transparent;
    border-radius: 5px;

    font-family: Geometry, Helvetica, sans-serif;
    font-weight: 300;

    outline: none;

    @include onDesktop {
      width: 60px;
      height: 30px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &--input {
      width: 90px;
      height: 20px;

      border: 1px solid transparent;
      border-radius: 5px;

      font-family: Geometry, Helvetica, sans-serif;
      font-weight: 300;

      outline: none;

      @include onDesktop {
        width: 110px;
        height: 30px;
      }
    }
  }
}