@import './utils/typography';

#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}

.app {
  margin: 0, auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Geometry;
}