@import './utils/typography';
@import './utils/mixins';

#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}

.app {
  margin: 0, auto;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Geometry;

  @include onTablet{
    width: 700px;
  }

  @include onDesktop{
    width: 900px;
  }
}